/*------------------------------------------page---------------------------------*/
* {
    padding: 0;
    font-family: 'poppins', sans-serif;
}
/*------------------------------------ecran chargement---------------------------------------*/
.chargement {
    display: none;
    font-size: 2rem;
    color: #3f65f0;
}
/* Rebond des points (chargement) */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  
  /* Animation de disparition (loader)*/
  @keyframes fadeOut {
    0% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

/*------------------------------------header----------------------------*/
h1 {
    font-weight: normal;
}
.couleur_titre {
    color: #3f65f0;
}
header {
    margin: 50px 200px 100px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.session {
    margin: 5px;
}
.navigation {
    color: black;
    margin: 5px;
    text-decoration: none;
    transition: 0.5s;
}
.navigation:hover {
    color: #3f65f0;
    border-bottom: 2px solid #3f65f0;
}
.logo_achat {
    color: black;
    margin: 5px;
    text-decoration: none;
    transition: 0.5s;
}
.logo_achat:hover {
    color: #3f65f0;
}

.bouton_session {
    background-color: #3f65f0;
    border-radius: 20px;
    padding: 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid;
    border-color: #3f65f0;
}
.bouton_session:hover {
    background-color: white;
    color: #3f65f0;
  }

/*------------------------------contenu---------------------------------------*/
.paragraphe {
    margin-left: 100px;
    margin-right: 100px;
}
.titre_pub {
    color: #3f65f0;
}
.texte_color {
    color: #3f65f0;
    font-style: italic;
}

h2 {
    margin-bottom: 40px;
    font-size: 50px;
}
p {
    max-width: 45%;
    margin-bottom: 50px;
}

.bouton_achat {
    padding: 15px;
    background-color: #3f65f0;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.bouton_achat:hover {
    letter-spacing: 5px;
}
.image_pc {
    position: fixed;
    padding: 10px 10px 10px 10px;
    background-color: #3f65f0;
    bottom: 0;
    right: 0;
    width: 600px;
    height: 600px;
    border-top-left-radius: 100%;
}
.pc_illustration {
    transition: 0.5s;
    margin-left: auto;
    display: block;
}
.pc_illustration:hover {
    width: auto;
    transform: scale(0.75);
}
/*responsive*/
